@font-face {
    font-family: 'SEGA LOGO FONT';
    font-style: normal;
    font-weight: normal;
    src: local('SEGA LOGO FONT'), url('SEGA.woff') format('woff');
}

h1 {
    font-family: 'SEGA LOGO FONT';
    font-weight: 200;
    color: #0ccac4;
}

.single-card {
    max-width: 300px;
}

.quote {
    font-family: monospace;
    font-style: italic;
}

.mail {
    outline: none;
    text-decoration: none;
    color: inherit;
}

.sec {
    margin-bottom: 0;
}

.sec:nth-child(3) {
    margin-top: 0;
}